@keyframes shadow-pop-br {
  0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
    transform: translateX(-8px) translateY(-8px);
  }
}
@keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.5);
  }
}
* {
  margin: 0;
  padding: 0;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

body {
  font-family: "lato", sans-serif;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

header {
  display: flex;
  justify-content: center;
  background-color: #222;
  width: 100%;
  height: 75px;
  flex-shrink: 0;
}

.header {
  background-color: #222;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 41px;
}

.top-head {
  background: #F8F3F4;
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-head__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.breadcrumbs__ul {
  list-style-type: none;
  display: flex;
}
.breadcrumbs__li:not(:last-child)::after {
  content: "/";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #636363;
  padding: 0px 8px;
}
.breadcrumbs__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #636363;
}
.breadcrumbs__link:hover {
  color: #F16D7F;
}

header.fixed {
  position: fixed;
  z-index: 11;
  background-color: #222;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1140px;
}

.logo {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 41px;
  padding-left: 32px;
  cursor: pointer;
}

.button__copy {
  display: flex;
  align-items: center;
  gap: 25px;
  padding-right: 32px;
}

.men, .basket {
  cursor: pointer;
}

.nav.active {
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  display: flex;
  width: 15%;
  flex-direction: column;
  background-color: #FFFFFF;
  position: absolute;
  top: 75px;
  right: 0;
  z-index: 1;
  padding-left: 33px;
  padding-top: 32px;
}

.burger__title {
  color: #000;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 4px;
}
.burger__titles {
  color: #F16D7F;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 20px;
  padding-bottom: 12px;
}
.burger__menu {
  cursor: pointer;
}

.nav {
  display: none;
}
.nav__link {
  color: #6F6E6E;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.nav__link:hover {
  color: #F16D7F;
  border-bottom: none;
}

.new__arrivals {
  color: #F16D7F;
}

.burger__links {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  gap: 11px;
}

.burger__links:last-child {
  padding-bottom: 32px;
}

.filter-sort {
  height: 132px;
  position: relative;
  display: flex;
  gap: 30px;
}

.filter {
  z-index: 10;
  padding: 13px 16px 16px;
  width: 360px;
  box-sizing: border-box;
  position: absolute;
  top: 38px;
}
.filter[open] {
  background: #FFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter[open] .filter__head {
  color: #F16D7F;
}
.filter[open] path {
  fill: #F16D7F;
}
.filter path {
  cursor: pointer;
}
.filter__summary {
  gap: 11px;
}
.filter__head {
  color: #000;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 11px;
}
.filter__item {
  margin-top: 16px;
}
.filter__item[open] .filter__heading {
  color: #F16D7F;
}
.filter__heading {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #5D5D5D;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #F16D7F;
}
.filter__item[open] .filter__heading {
  color: #F16D7F;
}
.filter__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px 24px 16px;
}
.filter__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  color: #5D5D5D;
}
.filter__link:hover {
  color: #F16D7F;
}

.sort {
  display: flex;
  margin-left: 490px;
  margin-top: 51px;
  gap: 28px;
}
.sort__check {
  display: flex;
  gap: 6px;
  align-items: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}
.sort__summary {
  display: flex;
  align-items: center;
  position: relative;
  gap: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
}
.sort__summary:hover {
  color: #F16D7F;
}
.sort__summary:hover path {
  fill: #F16D7F;
}
.sort__box {
  z-index: 10;
  margin-top: 5px;
  position: absolute;
  margin-left: -10px;
  background: #fff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 7px 30px 11px 9px;
}

.products {
  margin-bottom: 48px;
}
.products__start {
  text-align: center;
  justify-content: center;
  margin-bottom: 48px;
}
.products__title {
  color: 1140px;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.products__text {
  color: #9F9F9F;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.products__inner {
  width: 1140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  cursor: pointer;
}
.products__cards {
  background-color: #F8F8F8;
}

.image-container {
  position: relative;
  display: inline-block;
}

.products__photo img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(58, 56, 56, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-button {
  display: flex;
  gap: 11px;
  align-items: center;
  padding: 10px 20px;
  color: #FFFFFF;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 1;
  border: solid 1px;
  cursor: pointer;
  background: transparent;
}
.centered-button:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.image-container:hover .overlay {
  opacity: 1;
}

.cards__info {
  padding: 24px 16px;
}

.cards__text {
  margin: 16px 0;
}

.cards__title {
  color: #000;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cards__text {
  color: #5D5D5D;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.cards__price {
  color: #F16D7F;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

footer {
  background-color: #222;
}

.about__inner {
  height: 341px;
  align-items: center;
  width: 1140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.about__cards {
  align-self: center;
  text-align: center;
}
.about__title {
  margin: 29px 0 16px 0;
  color: #FBFBFB;
  font-family: "Lato", sans-serif;
  font-size: 19.96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.about__text {
  color: #FBFBFB;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 13.972px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.pagination {
  border: 1px solid #EBEBEB;
  margin: 0 auto;
  margin-top: 48px;
  margin-bottom: 96px;
  width: 284px;
}
.pagination__inner {
  padding: 12px 40px 13px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.arrow {
  cursor: pointer;
}

.page-number {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #C4C4C4;
}

.page-number:hover {
  color: #F16D7F;
}

.subscribe {
  background-image: url(../img/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 448px;
}
.subscribe__inner {
  display: flex;
  height: 100%;
  padding: 0 100px;
  text-align: center;
  align-items: center;
  gap: 20%;
}
.subscribe__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  gap: 30px;
}
.subscribe__email {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 557px;
  gap: 32px;
}
.subscribe__container__email {
  position: relative;
  width: 320px;
  height: 49px;
  display: flex;
}
.subscribe__form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.subscribe__form input {
  flex: 1;
  padding: 10px;
  padding: 20px;
  background: transparent;
  border: none;
  outline: none;
}
.subscribe__title {
  color: #222;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 167.2%;
}

.Typography__subscribe {
  color: #222;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.pulvinar {
  color: #222;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

input[type=email]::-moz-placeholder {
  opacity: 0.6;
  color: #222;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input[type=email]::placeholder {
  opacity: 0.6;
  color: #222;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subscribe_bt {
  height: 100%;
  width: 100%;
  display: block;
  background-color: #F16D7F;
  color: #FFF;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  padding: 0;
  cursor: pointer;
  border-radius: 0 20px 20px 0;
  transition: background-color 0.3s ease;
  animation: shadow-pop-br 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

.subscribe_bt:hover {
  background-color: #F16D7F;
}

.subscribe_bt:active {
  animation: none;
}

.for__our {
  color: #222;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.2%;
}

.copyright__inner {
  display: flex;
  height: 100%;
  width: 1140px;
  margin: 0 auto;
  justify-content: space-between;
}

.social__container {
  display: flex;
  gap: 7.29px;
  margin-top: 24px;
  margin-bottom: 24px;
  cursor: pointer;
}

.text__copyright {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #FBFBFB;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background-color: white;
  transition: background-color 0.3s ease;
}

.social:hover {
  background-color: #F16D7F;
}

.social:hover path {
  fill: #FFFFFF;
}

/* <!-- /////////////////// Media /////////////////// --> */
@media (min-width: 768px) and (max-width: 1140px) {
  .header {
    width: 100%;
  }
  .sort {
    margin-left: 435px;
  }
  .filter {
    left: 50px;
  }
  .offer {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .offer__inner {
    width: 735px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
  }
  .offer__cards img, .offer__big__card img {
    max-width: 100%;
    height: auto;
  }
  .products__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
    width: 735px;
    margin: 0 auto;
  }
  .products__cards img {
    max-width: 100%;
    height: auto;
  }
  .cards__info {
    padding: 12px 8px;
  }
  .cards__title {
    font-size: 12px;
  }
  .cards__text {
    font-size: 13px;
  }
  .cards__price {
    font-size: 14px;
  }
  .intro__info {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    margin-top: 50%;
    margin-bottom: 50%;
  }
  .about__inner {
    padding: 48px 0 64px 0;
    height: 610px;
    align-items: center;
    width: 360px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 48px;
  }
  .subscribe {
    background-image: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 693px;
  }
  .subscribe__email {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  .subscribe__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    width: 360px;
    text-align: center;
    align-items: center;
    gap: 20%;
  }
  .subscribe__info {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
  }
  .copyright__inner {
    display: flex;
    height: 100%;
    width: 735px;
    margin: 0 auto;
  }
  .nav.active {
    display: flex;
    width: 25%;
    flex-direction: column;
    background-color: #FFFFFF;
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 1;
    padding-left: 33px;
    padding-top: 32px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .sort {
    margin: 50px auto;
  }
  .burger__menu {
    margin-bottom: -10px;
  }
  .filter {
    width: 290px;
    left: 20px;
    top: 90px;
  }
  .breadcrumbs__li:not(:last-child)::after {
    padding: 0px 2px;
  }
  .header {
    width: 100%;
  }
  .logo {
    padding-left: 16px;
  }
  .top-head {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .button__copy {
    padding-right: 16px;
  }
  .offer {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .offer__inner {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
  }
  .offer__cards img, .offer__big__card img {
    max-width: 100%;
    height: auto;
  }
  .products__inner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 16px;
    width: 320px;
    margin: 0 auto;
  }
  .products__cards img {
    max-width: 100%;
    height: auto;
  }
  .cards__info {
    padding: 12px 8px;
  }
  .cards__title {
    font-size: 12px;
  }
  .cards__text {
    font-size: 13px;
  }
  .cards__price {
    font-size: 14px;
  }
  .intro__info {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    margin-top: 50%;
    margin-bottom: 50%;
    overflow-wrap: break-word;
  }
  .offer__big__card img {
    height: 111px;
  }
  .men, .basket {
    display: none;
  }
  .about__inner {
    padding: 48px 0 64px 0;
    height: 610px;
    align-items: center;
    width: 320px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 48px;
  }
  .subscribe {
    background-image: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
    padding-bottom: 110px;
  }
  .subscribe__email {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 320px;
  }
  .subscribe__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 320px;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    gap: 20%;
  }
  .subscribe__info {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
  }
  .copyright__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 320px;
    margin: 0 auto;
    flex-direction: column-reverse;
  }
  .social__container {
    margin-top: 43px;
    margin-bottom: 40px;
    display: flex;
    gap: 7.29px;
  }
  .text__copyright {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 9px;
    color: #FBFBFB;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .nav.active {
    display: flex;
    width: 40%;
    flex-direction: column;
    background-color: #FFFFFF;
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 1;
    padding-left: 33px;
    padding-top: 32px;
  }
}/*# sourceMappingURL=style.css.map */