*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li{
    list-style: none;
}

img{
    vertical-align: top;
}

h1,h2,h3,h4,h5,h6{
   font-weight: inherit; 
   font-size: inherit;
}

html,body{
    height: 100%;
    background: #fafafa;
    font-size: 14px;
    font-weight: 600;
    color:#252B42;
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    max-width: 1170px;
    padding: 0px 15px;
    margin: 0px auto;
    box-sizing: content-box;
}

/* ------------------Header------------------ */

.header {
    display: flex;
    background: #000;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.header-container{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 156px;
    padding-top: 25px;
}

.menu__list{
    display: flex;
    align-items: flex-start;
    gap: 32px;
}

.menu__link{
    color: #FFF;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu__link:hover {
    color: #9374EF;
}

.contact__phone{
    color: #FFF;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.phone__number{
    display: flex;
    align-items: center;
    gap: 11px;
}

.contact__phone:hover {
    color: #9374EF;
}


.digital__header{
    color: #00CDFF;
    text-align: center;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.pro{
    color: #FFF;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;  
}

.logo__img{
    position: absolute;
    margin-top: -18px;
}


.header__text{
    position: relative;
    margin-left: 10px;
    z-index: 1;
}

.burger{
    display: none;
}

/* ------------------main-block------------------ */

.page-main__block{
    background-color: #000;
}

.main__block-container{
    padding-top: 110px;
    padding-bottom: 100px;
}

.main__block-body{
    width: 764px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    z-index: 1;
}

.main__block-text{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main__block-title{
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 106.8%; 
    letter-spacing: 2.8px;
    margin-bottom: 30px;
}

.digital__main{
    text-transform: uppercase;
}

.main__block-subtitle{
    display: flex;
    width: 697px;
    align-items: flex-start;
    gap: 48px; 
}

.main__block-subtitle-text{
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120.3%;
}

.main__block-title::before {
    content: "/////"; 
    display: flex;
    font-size: 19px;
    align-items: center; 
    line-height: 19px;
    letter-spacing: 9px;
    margin-bottom: 8px; 
}

.button{
    cursor: pointer;
    display: flex;
    padding: 20px;
    align-items: start;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, #7E5ACA 0%, #7E5ACA 100%), radial-gradient(2243.61% 171.79% at 2.54% 0%, #007398 0%, #FE6DEF 21.47%, #6ECDEB 40.74%, rgba(166, 78, 174, 0.93) 59.49%, #57C0D7 74.6%, #C557D7 86.57%, #5CBBFF 100%);
    background-blend-mode: normal, hue, normal;
    box-shadow: 0px 3px 1.5px 0px rgba(0, 0, 0, 0.40) inset;
    transition: all 0.9s ease 0s;
}

.button-text{
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.button:hover{
    background: linear-gradient(0deg, #7E5ACA 0%, #7E5ACA 100%), radial-gradient(2132.18% 166.43% at 2.54% 0%, #007398 0%, #6ECDEB 59.02%, #5CBBFF 100%, #57C0D7 100%);
    background-blend-mode: hue, normal;
    box-shadow: 0px 3px 1.5px 0px rgba(0, 0, 0, 0.40) inset, 0px 4px 5px 0px rgba(0, 0, 0, 0.25);
}

.button:active{
    border-radius: 10px;
    background: linear-gradient(0deg, #7E5ACA 0%, #7E5ACA 100%), radial-gradient(2243.61% 171.79% at 2.54% 0%, #007398 0%, #FE6DEF 21.47%, #6ECDEB 40.74%, rgba(166, 78, 174, 0.93) 59.49%, #57C0D7 74.6%, #C557D7 86.57%, #5CBBFF 100%);
    background-blend-mode: hue, normal;
    box-shadow: 0px 3px 1.5px 0px rgba(0, 0, 0, 0.40) inset;
}

.main__block-image-main{
    position: absolute;
    right: 0;
    top:90px;
}

.main__block-image-main img {
    width: 800px;
    height: 700px;
    transform: rotate(0.086deg);
    background: url(img/header/cloud.png) 50%  no-repeat;
}


/* ------------------services------------------ */

.page-services{
    background: #FFF;    
}

.services-container{
    padding: 100px 0px 100px 0px;
}

.services__items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.services__body{
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: start;
}

.services__title::before {
    content: "/////"; 
    display: flex;
    font-size: 19px;
    align-items: center; 
    line-height: 19px;
    letter-spacing: 9px;
    margin-bottom: 11px; 
}

.services__text{
    display: flex;
    flex-direction: column;
}

.services__title{
    position: relative;
    color: #000;
    font-family: 'Open Sans';
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 169.607%;
    letter-spacing: 2px;
}

.services__title-big{
    position: absolute;
    margin-left: 144px;
    margin-top: -40px;
    font-size: 100px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    line-height: 169.607%;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px #000;
}

.services__item{
    width: 570px;
    height: 332px;
    display: flex;
    padding: 30px 30px 30px 30px;
    border-radius: 10px;
    background: #000;
    transition: all 0.3s ease 0s;
    box-shadow: 15px 25px 70px -5px rgba(0, 0, 0, 0.07);
}

.services__item:hover{
    transform: scale(1.1);
}

.services__body-item{
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.services__item-title{
    color: #9D7BFF;
    font-family: 'Montserrat';
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: 128.607%; 
}

.services__item-subtitle,
.services__item-text{
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 143.607%;
}

/* ------------------work__together ------------------ */

.page-work__together{
    background: #000;
    position: relative;
}

.work__together-container{
    padding: 100px 0px 100px 0px;
}

.work__together-body{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 60px;
    z-index: 1;
}

.work__together-title::before {
    content: "/////"; 
    display: flex;
    font-size: 19px;
    align-items: center; 
    line-height: 19px;
    letter-spacing: 9px;
    margin-bottom: 11px; 
}

.work__together-text{
    display: flex;
    flex-direction: column;
}

.work__together-title{
    position: relative;
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 133.107%;
}

.work__together-title-big{
    position: absolute;
    font-family: 'Open Sans';
    margin-left: 325px;
    margin-top: -25px;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 133.107%; 
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px #FFF;
}

.work__together-items{
    display: flex;
    align-items: end;
    gap: 35px; 
}

.work__together-item-body{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;  
}

.work__together-item{
    width: 25%;
    height: 305px;
}

.work__together-item-img img{
    width: 144px;
    height: 157px;
}

.work__together-item-text{
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.work__together-bachground{
    position: absolute;
    left: 0;
    bottom: 0;
}